{% extends 'base.html' %}

{% block title %}Spans{% endblock %}
{% block header %}
  <div class="pf-v6-c-content">
    <h1>Spans</h1>
    <p>Listing of all spans.</p>
  </div>
{% endblock %}


{% block content %}
<!-- Tooltips -->
<div id="tooltip-spanid" class="pf-v6-c-tooltip pf-m-top tooltip-content" role="tooltip" style="display: none;">
  <div class="pf-v6-c-tooltip__arrow" data-popper-arrow></div>
  <div class="pf-v6-c-tooltip__content">
    Span Id
  </div>
</div>
<div id="tooltip-traceid" class="pf-v6-c-tooltip pf-m-top tooltip-content" role="tooltip" style="display: none;">
  <div class="pf-v6-c-tooltip__arrow" data-popper-arrow></div>
  <div class="pf-v6-c-tooltip__content">
    Trace Id
  </div>
</div>
<div id="tooltip-timestamp" class="pf-v6-c-tooltip pf-m-top tooltip-content" role="tooltip" style="display: none;">
  <div class="pf-v6-c-tooltip__arrow" data-popper-arrow></div>
  <div class="pf-v6-c-tooltip__content">
    Timestamp
  </div>
</div>
<div id="tooltip-actions" class="pf-v6-c-tooltip pf-m-top tooltip-content" role="tooltip" style="display: none;">
  <div class="pf-v6-c-tooltip__arrow" data-popper-arrow></div>
  <div class="pf-v6-c-tooltip__content">
    Actions
  </div>
</div>

<!-- Traces -->
<table class="pf-v6-c-table pf-m-grid-md" role="grid" aria-label="Simple Table Example">
  <thead class="pf-v6-c-table__thead">
    <tr class="pf-v6-c-table__tr">
      <th class="pf-v6-c-table__th" scope="col">
        <span class="pf-v6-c-tooltip__trigger tooltip-trigger" data-target="tooltip-spanid">
          Span Id
        </span>
      </th>
      <th class="pf-v6-c-table__th" scope="col">
        <span class="pf-v6-c-tooltip__trigger tooltip-trigger" data-target="tooltip-traceid">
          Trace Id
        </span>
      </th>
      <th class="pf-v6-c-table__th" scope="col">
        <span class="pf-v6-c-tooltip__trigger tooltip-trigger" data-target="tooltip-timestamp">
          Timestamp
        </span>
      </th>
      <th class="pf-v6-c-table__th" scope="col">
        <span class="pf-v6-c-tooltip__trigger tooltip-trigger" data-target="tooltip-timestamp">
          Actions
        </span>
      </th>
    </tr>
  </thead>

  <tbody class="pf-v6-c-table__tbody">
    {% for trace in traces %}
    <tr class="pf-v6-c-table__tr">
        <td class="pf-v6-c-table__td pf-m-truncate" data-label="Span Id">
          <a href="/spans/{{trace['SpanId']}}">
            {{ trace['SpanId'] }}
          </a>
        </td>
        <td class="pf-v6-c-table__td pf-m-truncate" data-label="Trace Id">{{ trace['TraceId'] }}</td>
        <td class="pf-v6-c-table__td pf-m-truncate" data-label="Timestamp">{{ trace['Timestamp'] }}</td>
        <td class="pf-v6-c-table__td pf-m-truncate" data-label="Actions">
          <a href="/spans/{{trace['SpanId']}}"> View </a>
          |
          <a href="/spans/{{trace['SpanId']}}/metrics"> Metrics </a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Pagination -->
<div class="pf-v6-c-pagination pf-m-bottom" id="pagination-bottom">
  <div class="pf-v6-c-pagination__total-items" style="display: block">
    {{ total }} total spans, {{ page_size }} {{ 'span' if page_size == 1 else 'spans' }} per page
  </div>

  <div class="vertical-separator"></div>

  <div class="pf-v6-c-pagination__total-items" style="display: block">
    Page Size: 
    <input id="pagesize" class="pf-v6-c-form-control" aria-label="Page size" type="number" min="1" max="1000" value="{{ page_size }}">
  </div>

  <div class="vertical-separator"></div>

  <nav class="pf-v6-c-pagination__nav" aria-label="Pagination">
    
    <div class="pf-v6-c-pagination__nav-control pf-m-first">
      <a href="/spans?page={{1}}&page_size={{page_size}}" class="{{ 'pf-m-disabled' if page == 1 else '' }}">
        <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Go to first page" {{ 'disabled' if page == 1 else '' }}>
          <i class="fas fa-angle-double-left" aria-hidden="true"></i>
        </button>
      </a>
    </div>
    
    <div class="pf-v6-c-pagination__nav-control pf-m-prev">
      <a href="/spans?page={{[page-1, 1] | max}}&page_size={{page_size}}" class="{{ 'pf-m-disabled' if page == 1 else '' }}">
        <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Go to previous page" {{ 'disabled' if page == 1 else '' }}>
           <i class="fas fa-angle-left" aria-hidden="true"></i>
        </button>
      </a>
    </div>
    
    <div class="pf-v6-c-pagination__nav-page-select">
      <input id="currentpagination" class="pf-v6-c-form-control" aria-label="Current page" type="number" min="1" max="{{ total }}" value="{{ page }}">
      <span aria-hidden="true">of {{ total_pages }}</span>
    </div>
    
    <div class="pf-v6-c-pagination__nav-control pf-m-next">
      <a href="/spans?page={{[page+1, total_pages] | min}}&page_size={{page_size}}" class="{{ 'pf-m-disabled' if total_pages == page else '' }}">
        <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Go to next page" {{ 'disabled' if total_pages == page else ''}}>
           <i class="fas fa-angle-right" aria-hidden="true"></i>
        </button>
      </a>
    </div>
    
    <div class="pf-v6-c-pagination__nav-control pf-m-last">
      <a href="/spans?page={{total_pages}}&page_size={{page_size}}" class="{{ 'pf-m-disabled' if total_pages == page else '' }}">
        <button class="pf-v6-c-button pf-m-plain" type="button" aria-label="Go to last page" {{ 'disabled' if total_pages == page else ''}}>
          <i class="fas fa-angle-double-right" aria-hidden="true"></i>
        </button>
      </a>
    </div>
    
  </nav>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/tooltip.js') }}"></script>
<script type="text/javascript">
document.getElementById('currentpagination').addEventListener('change', function(event) {
  if (this.value) {
    window.location.assign(`/spans?page_size={{page_size}}&page=${this.value}`);
  }
});
document.getElementById('pagesize').addEventListener('change', function(event) {
  if (this.value) {
    window.location.assign(`/spans?page_size=${this.value}&page={{page}}`);
  }
});
</script>

{% endblock %}
