#title {
    font-size: 1.4rem;
}
html, body {
    height: 100%;
    background-color: var(--pf-v6-global--BackgroundColor--100);
}
.chart-placeholder {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pf-v6-global--BackgroundColor--200);
    border: 1px dashed var(--pf-v6-global--BorderColor--100);
    color: var(--pf-v6-global--Color--200);
    border-radius: var(--pf-v6-global--BorderRadius--sm);
    font-weight: 600;
}
.pf-v6-c-tooltip {
  z-index: 9999 !important;
  position: absolute;
}
